    <h1>Welcome to the Teaching Ministry Manager Demo</h1>
    <p>
      The Teaching Ministry Manager is a proposed enhancement to the Open Source Church Community Software, OneBody.  This demo is a 'Proof of Concept.'  It is meant to to demonstrate how the finished product could work, and to gather feedback from potential supporters of the project.
    </p>

    <%= link_to "Sign up now!", '#', :class => "signup_button round" %>
